doctype html
html.no-js(lang="en")
	include includes/head.pug
	body
		#todoApp
			ul
				li("v-for"="todo in todos")
					| {{ todo.text }}
				todo-item(
					v-for="item in todos",
					:todo="item",
					:key="item.id"
				)
			p {{ message }}
			p {{ noww() }}
			p {{ now }}
		#schedApp("v-if"="schedActive") {{ schedContent }}
		include includes/footer.pug