head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title Golden Hala
	meta(name="description" content="")
	meta(name="author" content="")

	//- Load CSS frameworks from jsDelivr CDN.
	//- link(rel="stylesheet" href="https://cdn.jsdelivr.net/g/normalize@3.0.3,animatecss@3.5.1")
	//- link(rel="stylesheet" href="css/vendor/skeleton-fontawesome-buttons-1.0.1.min.css")
	//- link(rel="stylesheet" href="assets/css/bulma.css")
	link(rel="stylesheet" href="css/main.css")
	//- script(src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")
	//- script(src="https://use.fontawesome.com/52a6d6bd6a.js")

	//- style.
	//- 	article {
	//- 		padding: 3rem 0px;
	//- 	}

	//- 	.parallax-window {
	//- 		background-color: rgba(0, 0, 0, 0);
	//- 	}

	//- 	.content h1 {
	//- 		font-size: 4rem;
	//- 	}

	//- 	.title.is-1.dynamicHeroBody {
	//- 		font-size: 6rem;
	//- 	}

	//- 	.content p {
	//- 		font-size: 1.2rem;
	//- 	}